%section.content-header
  .container
    %h3 Results for "#{params[:search_term]}"
    = link_to "Back", home_path
%section.content
  .container
    %ul
      - @businesses.each_with_index do |business, idx|
        = render 'business', business: business, idx: idx