%nav
  %ul
    %li
      %a(href='')
        %img(src='/images/logo.png')
    %li
      %form.form-inline
        %input.form-control.search-bar(type="text" placeholder="Find")
        %button.btn.search-button(type="submit")
          %i.fa.fa-search
    %li
      %a(href="") Reviews
    %li
      %a(href="") Businesses
    %li.nav-item.dropdown
      %a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" role="button") Jon Doe
      .dropdown-menu
        %a.dropdown-item(href="") Add a New Business
        = link_to "Log Out", logout_path, method: "post", class: "dropdown-item"