%nav
  %ul
    %li
      %a(href='')
        %img(src='/images/logo.png')
    - if logged_in?
      %li
        %form.form-inline
          %input.form-control.search-bar(type="text" placeholder="Find")
          %button.btn.search-button(type="submit")
            %i.fa.fa-search
      %li
        = link_to "Businesses", home_path
      %li
        %a(href="") Reviews
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" role="button")
          = current_user.display_name
        .dropdown-menu
          %a.dropdown-item(href="") Add a New Business
          = link_to "View Profile", user_path(current_user), class: "dropdown-item"
          = link_to "Log Out", logout_path, class: "dropdown-item"