%section.content-header
  .container
    %h3 Showing All Businesses
%section.content
  .container
    %ul
      %li
        .row
          .col-md-8
            %h4 1. <a href="">The French Laundry</a>
            .star-rating-small.rating-4-small
            %span.ml-1 100 reviews
          .col-md-4
            %address
              1234 Main St.<br>
              San Francisco, CA 94115<br>
              (415) 123-4567
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id convallis erat. Integer nisl nibh, tempus non enim eget, lacinia condimentum neque. Integer dictum maximus sem, at ullamcorper augue. Vivamus non metus arcu....<a href="">read more</a>
      %li
        .row
          .col-md-8
            %h4 2. <a href="">Saison</a>
            .star-rating-small.rating-3-half-small
            %span.ml-1 85 reviews
          .col-md-4
            %address
              1234 Main St.<br>
              San Francisco, CA 94115<br>
              (415) 123-4567
        %p It was just ok <a href="">read more</a>
      %li
        .row
          .col-md-8
            %h4 3. <a href="">Acquerello</a>
            .star-rating-small.rating-1-small
            %span.ml-1 20 reviews
          .col-md-4
            %address
              1234 Main St.<br>
              San Francisco, CA 94115<br>
              (415) 123-4567
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id convallis erat. Integer nisl nibh, tempus non enim eget, lacinia condimentum neque. Integer dictum maximus sem, at ullamcorper augue. Vivamus non metus arcu....<a href="">read more</a>