%section.container.centered-form.mt-4
  %h3 Log In to Yelp
  %p
    %small <strong>New to Yelp?</strong> <a href=''>Sign up</a>
  %form
    %fieldset
      .form-group
        %input.form-control(type='text' placeholder='Email')
      .form-group
        %input.form-control(type='text' placeholder='Password')
      .form-group
        %input.form-control.btn.register-button(type='submit' value='Log In')
