%section.container.centered-form.mt-4
  %h3.mb-4 Add a New Business
  %form
    %fieldset
      .form-group
        %input.form-control(type='text' placeholder='Business Name')
      .form-group
        %input.form-control(type='text' placeholder='Address')
      .form-group
        %input.form-control(type='text' placeholder='City')
      .form-group
        %input.form-control(type='text' placeholder='State')
      .form-group
        %input.form-control(type='text' placeholder='Zip Code')
      .form-group
        %input.form-control(type='text' placeholder='Phone Number')
      .form-group
        %input.form-control.btn.register-button(type='submit' value='Add Business')
