%section.content-header
  .container
    %h3 Recent Reviews
%section.content
  .container
    %ul
      %li
        .row
          .col-md-3
            %h4.mt-2 <a href="">The French Laundry</a>
            .rating-small.rating-4
            %span.ml-1 100 reviews
            %address
              1234 Main St.<br>
              San Francisco, CA 94115<br>
              (415) 123-4567
          .col-md-9
            .rating-small.rating-4
            %span.review-date.ml-1 9/28/17 by <a href="">Jon Doe</a>
            %p.pt-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor efficitur elit, venenatis tincidunt nisl mattis id. Vestibulum sed lorem sapien. Sed consectetur nunc non purus bibendum, in lobortis nulla efficitur. Vivamus et metus elementum, accumsan ante dapibus, maximus ex. Aliquam convallis augue quis facilisis consequat. Curabitur non tincidunt ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius turpis quis semper luctus. Mauris fringilla suscipit ligula sit amet ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla laoreet non est sed elementum. Sed eu pharetra magna, non cursus magna. In hendrerit tortor accumsan lorem scelerisque, commodo pretium dui ultrices. Vivamus lacinia mattis eros, et laoreet erat interdum id. Integer nec eros at est facilisis sollicitudin. Quisque pretium elementum aliquet.
      %li
        .row
          .col-md-3
            %h4.mt-2 <a href="">Saison</a>
            .rating-small.rating-4
            %span.ml-1 100 reviews
            %address
              1234 Main St.<br>
              San Francisco, CA 94115<br>
              (415) 123-4567
          .col-md-9
            .rating-small.rating-4
            %span.review-date.ml-1 8/20/17 by <a href="">Jane Smith</a>
            %p.pt-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor efficitur elit, venenatis tincidunt nisl mattis id. Vestibulum sed lorem sapien. Sed consectetur nunc non purus bibendum, in lobortis nulla efficitur. Vivamus et metus elementum, accumsan ante dapibus, maximus ex. Aliquam convallis augue quis facilisis consequat. Curabitur non tincidunt ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius turpis quis semper luctus. Mauris fringilla suscipit ligula sit amet ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla laoreet non est sed elementum. Sed eu pharetra magna, non cursus magna. In hendrerit tortor accumsan lorem scelerisque, commodo pretium dui ultrices. Vivamus lacinia mattis eros, et laoreet erat interdum id. Integer nec eros at est facilisis sollicitudin. Quisque pretium elementum aliquet.
      %li
        .row
          .col-md-3
            %h4.mt-2 <a href="">Acquerello</a>
            .rating-small.rating-4
            %span.ml-1 100 reviews
            %address
              1234 Main St.<br>
              San Francisco, CA 94115<br>
              (415) 123-4567
          .col-md-9
            .rating-small.rating-4
            %span.review-date.ml-1 7/20/17 by <a href="">Bob Jones</a>
            %p.pt-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor efficitur elit, venenatis tincidunt nisl mattis id. Vestibulum sed lorem sapien. Sed consectetur nunc non purus bibendum, in lobortis nulla efficitur. Vivamus et metus elementum, accumsan ante dapibus, maximus ex. Aliquam convallis augue quis facilisis consequat. Curabitur non tincidunt ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius turpis quis semper luctus. Mauris fringilla suscipit ligula sit amet ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla laoreet non est sed elementum. Sed eu pharetra magna, non cursus magna. In hendrerit tortor accumsan lorem scelerisque, commodo pretium dui ultrices. Vivamus lacinia mattis eros, et laoreet erat interdum id. Integer nec eros at est facilisis sollicitudin. Quisque pretium elementum aliquet.