%section.container.centered-form.mt-4
  %h3 Sign Up for Yelp
  %p
    %strong Connect with great local businesses
  %form
    %fieldset
      .form-row
        .form-group.col
          %input.form-control(type='text' placeholder='First Name')
        .form-group.col
          %input.form-control(type='text' placeholder='Last Name')
      .form-group
        %input.form-control(type='text' placeholder='Email')
      .form-group
        %input.form-control(type='text' placeholder='Password')
      .form-group
        %input.form-control.btn.register-button(type='submit' value='Sign Up')
  %p
    %small Already on Yelp? <a href=''>Log in</a>


