body
  font-family: Helvetica, Arial, sans-serif

ul
  margin: 0
  padding: 0
  list-style-type: none

h1, h3
  font-weight: bold

.container
  max-width: 900px

.alert
  margin: 10px 0 10px 0

section.content-header
  background-color: #f5f5f5
  padding: 20px 0

section.content
  font-size: .9rem
  padding-top: 15px
  h4
    font-size: 1.2rem
  h5
    font-size: 1.1rem
    margin: 0 0 5px 0
  li
    padding: 10px 0
    border-top: 1px solid #e6e6e6
    &:last-of-type
      border-bottom: 1px solid #e6e6e6
    p
      margin: 0

.has-error
  input
    border-color: #dc3545

.help-block
  color: #dc3545

.centered-form
  width: 400px
  text-align: center
  h3
    font-size: 1.5rem
    color: #d32323

.register-button
  background: #d90007
  color: #fff
  font-weight: bold
  border-color: #8d0005
  &:hover
    background-color: #ed0008
    color: #fff
    cursor: pointer

.star-rating-small
  float: left
  width: 102px
  height: 18px
  background: url("/images/stars.png") no-repeat

.star-rating-large
  float: left
  width: 133px
  height: 24px
  background: url(/images/stars.png) no-repeat

.rating-0-small
  background-position: 0 -240px
.rating-1-small
  background-position: 0 -258px
.rating-1-half-small
  background-position: 0 -276px
.rating-2-small
  background-position: 0 -294px
.rating-2-half-small
  background-position: 0 -312px
.rating-3-small
  background-position: 0 -330px
.rating-3-half-small
  background-position: 0 -348px
.rating-4-small
  background-position: 0 -366px
.rating-4-half-small
  background-position: 0 -384px
.rating-5-small
  background-position: 0 -402px

.rating-0-large
  background-position: 0 0
.rating-1-large
  background-position: 0 -24px
.rating-1-half-large
  background-position: 0 -48px
.rating-2-large
  background-position: 0 -72px
.rating-2-half-large
  background-position: 0 -96px
.rating-3-large
  background-position: 0 -120px
.rating-3-half-large
  background-position: 0 -144px
.rating-4-large
  background-position: 0 -168px
.rating-4-half-large
  background-position: 0 -192px
.rating-5-large
  background-position: 0 -216px

.user-review-logo
  float: left
  position: relative
  top: 3px
  height: 16px
  width: 16px
  background: url(/images/stars.png) 0 -546px no-repeat

.user-review-logo-large
  float: left
  position: relative
  top: 2px
  height: 18px
  width: 18px
  background: url(/images/stars.png) 0 -402px no-repeat